{% extends "base.html" %}

{% block title %}Вхід{% endblock %}

{% block content %}
    <h2>Вхід</h2>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Ім'я користувача</label>
            <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-control" id="password" name="password" required>
        </div>
        <button type="submit" class="btn btn-primary">Увійти</button>
        <p class="mt-3">Не маєте облікового запису? <a href="{{ url_for('register') }}">Зареєструйтеся</a></p>
    </form>
{% endblock %}